################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CucumberWithSpecflow/v14
/packages
/Tests/bin/Debug
/Tests/obj/Debug
/Definitions/bin/Debug
/Definitions/obj/Debug
/Definitions/Definitions.csproj.user
/Services/bin/Debug
/Services/obj/Debug
/TestResults
*.DotSettings
